<form class="form-horizontal" ng-controller="LoginFormController" name="loginForm" ng-submit="login(user)">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="control-group">
        <label class="control-label" for="vla">test</label>
        <div class="controls">
            <input value="{{user.email}} {{user.password}}" name="vla"  type="text" id="afemail" placeholder="blah">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input name="email" ng-model="user.email" type="text" id="email" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input name="password" ng-model="user.password" type="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <!--label class="checkbox">
                <input type="checkbox"> Remember me
            </label-->
            <button id="login-button" type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>