<!DOCTYPE html>
<html ng-app="ngStarterKit" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>
    <meta charset="UTF-8"/>
    <% grunt.file.expand({cwd:baseDir},cssFiles).forEach( function ( file ) { %>
        <link href="<%= file %>" rel="stylesheet">
    <% }); %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="navIsCollapsed = !navIsCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="navIsCollapsed">
      <ul class="nav navbar-nav">
        <li ui-route="/home" ng-class="{active:$state.includes('home')}">
            <a href="#/home"><i class="icon-home"></i>&nbspHome</a>
        </li>
        <li ui-route="/private" ng-class="{active:$state.includes('private')}">
            <a href="#/private"><i class="icon-lock"></i>&nbspPrivate</a>
        </li>
        <li ui-route="#/login" ng-class="{active:$state.includes('login')}" login-link></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" ui-view="main"></div>
<% grunt.file.expand({cwd:baseDir},jsFiles).forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>
